<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org" lang="ko">
<head th:fragment="head(title, useCommonCss, extraCss)">
    <meta charset="UTF-8">
    <title th:text="${title}">TheBible</title>

    <!-- SEO -->
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta name="description"
          content="다양한 성경 번역본, 빠른 성경 구절 검색, 쉽고 편리한 성경을 제공하는 온라인 성경 검색 사이트 TheBible입니다. 개인 성경 공부, 설교 준비, 큐티 및 묵상에 필요한 최적의 도구를 무료로 만나보세요">
    <meta name="keywords" content="성경, Bible, 번역본, 개역한글, KRV, 킹제임스, KJV, 장, 절, 성경 검색, 성경 읽기, 성경 말씀">
    <meta name="author" content="InSeek">
    <meta name="robots" content="index, follow">
    <link rel="canonical" href="https://elseeker.com/">

    <!-- Open Graph -->
    <meta property="og:type" content="website">
    <meta property="og:title" content="📖 TheBible - 온라인 성경 검색 사이트">
    <meta property="og:description"
          content="다양한 성경 번역본, 빠른 성경 구절 검색, 쉽고 편리한 성경을 제공하는 온라인 성경 검색 사이트 TheBible입니다. 개인 성경 공부, 설교 준비, 큐티 및 묵상에 필요한 최적의 도구를 무료로 만나보세요">
    <meta property="og:image" content="https://elseeker.com/images/thebible.png">
    <meta property="og:url" content="https://elseeker.com/">

    <!-- Twitter -->
    <meta name="twitter:card" content="summary_large_image">
    <meta name="twitter:title" content="📖 TheBible - 온라인 성경 검색 사이트">
    <meta name="twitter:description" content="개역한글, KRV, 킹제임스, KJV 등 다양한 번역본 제공. 모바일에서도 편리하게 검색하고 읽으세요.">
    <meta name="twitter:image" content="https://elseeker.com/images/thebible.png">

    <!-- Favicon -->
    <link rel="icon" href="/favicon.ico" type="image/x-icon">

    <!-- Styles -->
    <link href="/webjars/bootstrap/css/bootstrap.min.css" rel="stylesheet">
    <link th:if="${useCommonCss}" href="/css/common.css?v=1.0" rel="stylesheet">
    <link th:if="${extraCss != null}" th:href="${extraCss}" rel="stylesheet">
</head>
</html>
