<!DOCTYPE html>
<html lang="ko">
<head>
  <title>절 목록</title>
  <meta charset="utf-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <link href="/webjars/bootstrap/css/bootstrap.min.css" rel="stylesheet">
  <link href="/css/common.css?v2" rel="stylesheet">
</head>
<body>

<div class="container content-wrapper">
  <div class="d-flex justify-content-between align-items-center mt-2 mb-3">
    <h1 id="chapterTitle" class="mt-2">장 제목</h1>
    <a href="/web/bibles/search" class="btn btn-outline-secondary" aria-label="검색">🔍</a>
  </div>
  <table class="table table-striped">
    <tbody id="verseTableBody"></tbody>
  </table>
</div>

<!-- 하단 네비게이션 -->
<div class="fixed-bottom-nav">
  <div class="nav-container">
    <!-- 이전 장 버튼 -->
    <button id="prevChapterBtn"
            class="btn btn-lg btn-outline-primary prev-next"
            type="button"
            disabled
            aria-label="이전 장으로 이동">
      <!-- 이모지는 스크린리더에서 읽히지 않도록 aria-hidden 사용 -->
      <span aria-hidden="true">⬅</span>
      <span class="d-none d-md-inline ms-2">이전 장</span>
    </button>

    <!-- 장 선택 (페이지 이동) -->
    <a id="chapterSelectLink"
       class="btn btn-lg btn-primary"
       href="#"
       aria-label="장 선택">
      <span aria-hidden="true">📖</span>
      <span class="ms-2">장 선택</span>
    </a>

    <!-- 다음 장 버튼 -->
    <button id="nextChapterBtn"
            class="btn btn-lg btn-outline-primary prev-next"
            type="button"
            disabled
            aria-label="다음 장으로 이동">
      <span class="d-none d-md-inline me-2">다음 장</span>
      <span aria-hidden="true">➡</span>
    </button>
  </div>
</div>

<script src="/js/storage-util.js"></script>
<script>
    document.addEventListener("DOMContentLoaded", async () => {
        const translationId = TranslationStore.getId();
        const translationName = TranslationStore.getName();
        if (!translationId || !translationName) {
            window.location.href = "/web/bibles/translations";
            return;
        }

        let bookId = BookStore.getId();
        let bookName = BookStore.getName();
        if (!bookId || !bookName) {
            window.location.href = "/web/bibles/books";
            return;
        }

        let chapterNumber = ChapterStore.getNumber();
        if (!chapterNumber) {
            window.location.href = "/web/bibles/chapters";
            return;
        }

        const DOM = {
            prevBtn: document.getElementById("prevChapterBtn"),
            nextBtn: document.getElementById("nextChapterBtn"),
            title: document.getElementById("chapterTitle"),
            verseTable: document.getElementById("verseTableBody"),
            chapterLink: document.getElementById("chapterSelectLink")
        };

        DOM.prevBtn.addEventListener("click", () => loadChapter("PREV"));
        DOM.nextBtn.addEventListener("click", () => loadChapter("NEXT"));
        DOM.verseTable.addEventListener("click", e => {
            const verseEl = e.target.closest("[data-verse]");
            if (!verseEl) {
                return;
            }
            const verseNum = verseEl.getAttribute("data-verse");
            if (e.target.classList.contains("memo-save-btn")) {
                saveMemo(verseNum);
            } else if (e.target.classList.contains("memo-delete-btn")) {
                deleteMemo(verseNum)
            } else {
                toggleMemo(verseNum);
                applyVerseHighlight(verseNum);
            }
        });

        await loadChapter("CURRENT");

        async function loadChapter(direction) {
            try {
                let url;
                if (direction === "CURRENT") {
                    url = `/api/bibles/translations/${translationId}/books/${bookId}/chapters/${chapterNumber}/verses`;
                } else {
                    url = `/api/bibles/translations/${translationId}/books/${bookId}/chapters/${chapterNumber}/navigate?direction=${direction}`;
                }

                const response = await fetch(url);
                if (!response.ok) {
                    throw new Error("데이터 로딩 실패");
                }
                const data = await response.json();
                bookId = data.book.bookId;
                bookName = data.book.bookName;
                chapterNumber = data.book.chapter.chapterNumber;

                BookStore.save({
                    id: bookId,
                    name: bookName
                });
                ChapterStore.saveNumber(chapterNumber);
                renderChapter(data);
            } catch (e) {
                showAlert("장 정보를 불러오지 못했습니다.", "danger");
                console.error(e);
            }
        }

        function renderChapter(data) {
            const chapter = data.book.chapter;
            DOM.title.textContent = `${translationName} > ${bookName} > ${chapter.chapterNumber}`;
            DOM.verseTable.innerHTML = chapter.verses.map(renderVerseRow).join("");
            DOM.chapterLink.href = "/web/bibles/chapters";
            DOM.prevBtn.disabled = data.isFirst;
            DOM.nextBtn.disabled = data.isLast;
            const verseNumber = VerseStore.consumeVerseNumber();
            if (verseNumber) {
                setTimeout(() => {
                    const targetVerse = document.querySelector(`.verse-text[data-verse="${verseNumber}"]`);
                    if (targetVerse) {
                        targetVerse.classList.add("highlighted-verse");
                        targetVerse.scrollIntoView({behavior: "smooth", block: "center"});
                        setTimeout(() => {
                            targetVerse.classList.remove("highlighted-verse");
                        }, 5000);
                    }
                }, 100);
            } else {
                window.scrollTo({top: 0, behavior: "smooth"});
            }
        }

        function renderVerseRow(verse) {
            const v = verse.verseNumber;
            const memoKey = buildMemoKey(v);
            const hasMemo = !!localStorage.getItem(memoKey);
            const verseClass = hasMemo ? "verse-text text-body verse-has-memo" : "verse-text text-body";
            return `
            <tr>
              <td>${v}</td>
              <td>
                <div class="${verseClass}" id="verse-text-${v}" data-verse="${v}">${verse.text}</div>
                <div class="memo-container d-none mt-3" id="memo-${v}">
                  <div class="form-group">
                    <textarea class="form-control mb-2" rows="3" placeholder="메모를 입력하세요..." id="memo-input-${v}"></textarea>
                    <div class="text-end">
                      <button class="btn btn-sm btn-primary memo-save-btn" data-verse="${v}">💾 저장</button>
                      <button class="btn btn-sm btn-danger memo-delete-btn" data-verse="${v}">🗑️ 삭제</button>
                    </div>
                  </div>
                </div>
              </td>
            </tr>
          `;
        }

        function toggleMemo(verseNum) {
            document.querySelectorAll(".memo-container").forEach(el => {
                const isTarget = el.id === `memo-${verseNum}`;
                if (isTarget) {
                    el.classList.toggle("d-none"); // 열려있으면 닫고, 닫혀있으면 염
                } else {
                    el.classList.add("d-none"); // 나머지는 모두 닫기
                }
            });

            const textarea = document.getElementById(`memo-input-${verseNum}`);
            if (textarea) {
                const key = buildMemoKey(verseNum);
                textarea.value = localStorage.getItem(key) || "";
            }
        }

        function applyVerseHighlight(verseNum) {
            document.querySelectorAll(".verse-text").forEach(el => {
                const isTarget = el.id === `verse-text-${verseNum}`;
                if (isTarget) {
                    el.classList.toggle("active");
                } else {
                    el.classList.remove("active");
                }
            });
        }

        function saveMemo(verseNum) {
            const textarea = document.getElementById(`memo-input-${verseNum}`);
            if (!textarea) {
                showAlert("메모 입력란을 찾을 수 없습니다", "danger");
                return;
            }
            const value = textarea?.value.trim();
            if (!value) {
                return;
            }
            const key = buildMemoKey(verseNum);
            localStorage.setItem(key, value);
            const verseTextEl = document.querySelector(`.verse-text[data-verse="${verseNum}"]`);
            verseTextEl?.classList.add("verse-has-memo");
        }

        function deleteMemo(verseNum) {
            const key = buildMemoKey(verseNum);
            localStorage.removeItem(key);
            const verseTextEl = document.querySelector(`.verse-text[data-verse="${verseNum}"]`);
            verseTextEl?.classList.remove("verse-has-memo");
            toggleMemo(verseNum);
            applyVerseHighlight(verseNum);
        }

        function buildMemoKey(verseNum) {
            return `memo_${translationId}_${bookId}_${chapterNumber}_${verseNum}`;
        }

        function showAlert(message, type = "success") {
            alert(`${type}: ` + message);
        }
    });
</script>
</body>
</html>
